:root {
  --primary-color: #5a189a;
  --secondary-color: #f7faff;
  --text-color: #333;
  --white-color: #fff;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

#app {
  margin: 0;
  font-family: 'Arial', sans-serif;
  padding: 0;
  height: 100%;
  background-color: var(--secondary-color);
}

input {
  padding: 10px;
  margin: 1px 0 20px;
  border: 1px #abd1b5;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

button {
  padding: 12px;
  background-color: #8e44ad;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  color: var(--primary-color);
  border-color: var(--primary-color);
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}

.btn-outline-primary {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s !important;
}

.btn-outline-primary:hover {
  background: var(--primary-color) !important;
  color: var(--white-color) !important;
  border-color: var(--primary-color) !important;
}

.bg-list-items {
  background: #eaebff !important;
}
